# Этот файл указывает Git, какие файлы и папки игнорировать.

# 1. Исключаем папку "root" и всё её содержимое
root/

# 2. Исключаем другие файлы по имени
# Например, файл с секретными ключами или локальными настройками
.env

# Кэш Python
__pycache__/

# Папки настроек IDE
.idea/
